*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left, purple, white);
}
.todo-container{
    width: 40%;
}
input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
