*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(to left, purple, white);
}