*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left, purple, white);
}
.todo-container{
    width: 40%;
}
.todo-container h1{
    margin-left: 20%;
    size: 20px;
    margin-bottom: 10%;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
}
.input .form-control{
    background: transparent;
    border: none;
    height: 50px;
    border-radius: 5px;
    width: 90%;
    padding: 0px 20px;
    font-size: 16px;
    color: blueviolet;
    box-shadow: -6px -6px 10px rgb(255,255,255,0.03),
                 6px 6px 10px rgb(10,8,10,0.8),
                 inset -6px -6px 10px rgb(255,255,255,0.05),
                 inset  6px 6px 10px rgb(12,8,12,0.8);            
}
.input .form-control:focus{
    outline: none;
}
.add .material-icons{
    background: #DA70D6;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #161117;
    border-radius: 50%;
    margin-left: 15px;
    cursor: pointer;
    font-size: 30px;
}
.todos div{
    background-color: #6e3f6d;
    padding: 2px 6px;
    size: 20px;

}
.todos .todo:not(:last-child){
    margin-bottom: 15px;
}
.todos .todo:hover{
    background-color: #f7f7f7;
}
.todos .todo.done{
    opacity: 0.5; /*to make it a bit transparent*/
}
.todos .todo span{
    font-weight: bold;
    font-size: 15px;
    margin: 2px;
    background-color: #DA70D6;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
